*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.Grid_BOX{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width: 85%;
    margin: auto;
    gap: 2px;
}
.Grid_BOX{
    margin-top: 20px;
}
.Grid_BOX img{
    margin-top: 5px;
    width: 95%;
}
.gridBtn{
    margin: 10px;
    text-decoration: underline;
    background: transparent;
}
.gridBtn:hover{
    background-color: lightgreen;
}