* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-gallery {
  height: 1025px;
  overflow: scroll;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 15%;

 
  gap: 10px;
}

.product_card img {
  /* width: 250px; */
  transform: scale(1);
  transition: 1s;
}
.product_card img:hover {
  transform: scale(1.02);
/*  
  filter: drop-shadow(5px 5px 10px gray); */
 
}
.product_card p {
  text-align: left;

  font-size: 12px;
}
.shopFeed h3{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
}
@media only screen and (max-width: 720px) {
 
  .product-gallery {
    height: 750px;
    overflow: scroll;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 15%;
  }
  
}
