* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-gallery {
  height: 900px;
  overflow: hidden;
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-top: 8%;
}

.product_card img {
  width: 250px;
  animation-delay: 250ms;
  transform: scale(0.9);
}
.product_card img:hover {
  width: 250px;
  animation-delay: 250ms;
  transform: scale(1);
}
.product_card p {
  text-align: left;
  margin-left: 30px;
  font-size: 12px;
}
@media only screen and (max-width: 720px) {
 
  .product-gallery {
    height: 900px;
    overflow: hidden;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 8%;
  }
  
}
