* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Home_section{
    margin-bottom: 5%;
    
}
.image_box {
  position: relative;
  filter: brightness(0.9);
  
}
.image_box img{
  width: 100%;

}
.card_box {
  align-items: center;
  flex-direction: column;
  display: flex;
  filter: grayscale(1);
  margin-top: -20%;
  color: white;
  font-size: 50px;
}
card_box h3 {
  font-size: 30px;
  font-weight: 400px;
}
.card_box button {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px 15px 30px;
  background: transparent;

  border: 1px solid white;
}
.card_box button:hover {
  border: 2px solid white;
  cursor: pointer;
  filter: drop-shadow(8px 8px 10px gray);
}
