* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  margin-top: 5px;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(199, 199, 199);
  /* position: fixed;
  z-index: 1;
  background-color: white; */
}

.Nav {
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  align-items: center;
}

.nav_left {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(91, 90, 90);
  margin-right: 20%;
}
.nav_left div:hover {
  text-decoration: underline;

  cursor: pointer;
}
.nav_right {
  display: flex;
  width: 15%;
  align-items: center;
  margin-top: 10px;
  justify-content: space-evenly;
}
.nav_right div:hover {
  font-size: 20px;
  cursor: pointer;
}
/* .mob-menu{
  display: none;
} */
.Top_Heading p {
  display: flex;
  font-size: 16px;
  align-items: center;
  height: 50px;
  border: 1px solid rgb(199, 199, 199);
  justify-content: center;
}
@media only screen and (min-width: 720px) {
  .DrawerOption {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .DrawerOption {
    margin-left: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Nav {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .nav_left {
    display: none;
  }
  .logo {
    margin: auto;

    width: 22%;
  }
}
